block navigation
  header.main-header
    nav.main-header__nav
      ul.main-header__item-list
        li.main-header__item
          a(href="/", class=(path === '/' ? 'active' : '')) Dashboard

      ul.main-header__item-list
        if isAuth
          li.main-header__item
            form(action="/logout", method="post")
              input(type="hidden", name="_csrf", value=(csrfToken))
              button(type="submit") Logout
        else
          li.main-header__item
            a(href="/login", class=(path === "/login" ? "active" : "")) Login
          li.main-header__item
            a(href="/signup", class=(path === "/signup" ? "active" : "")) Signup
